/* EXPENSES TICKET style */

.headerOfSpecificExpensesTicket{
	max-width: 50em;
	height: 2em;
	background-color: darkviolet;
	border-radius: 5px;
}

.headerContent{
	padding: 0.5em;
}

.bodyContainer{
	display: none;
	max-width: 50em;
	max-height: 30em;
	background-color: lightgreen;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0.5em;
}

.listInCostTicket{
  list-style: none;
}

.listInCostTicket li:nth-child(odd) {
    background: #d3f8d3;
}

.createNew {
	width: 2.3em;
	height: 2.3em;
}

.addNewCostToList{
	background-color:white;
	width: 1.3em;
	height: 1.3em;
}
.openTicket{
	background-color:white;
	width: 1.3em;
	height: 1.3em;
}

button:hover {
    background-color: white; 
    color: black;
}