/* RESPONSIVE MAIN MENU style (MenuButtons) */

.icon-bar {
    width: 100%; 
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    padding: 0;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; 
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)*/
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; 
    font-size: 36px; 
}

.icon-bar a:hover {
    background-color: blue; 
}

.active {
    background-color: lightblue; 
}

